workflows/qjJ3TR5qJ6cbXuCv.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T14:43:47.655Z",
  "id": "qjJ3TR5qJ6cbXuCv",
  "isArchived": false,
  "meta": null,
  "name": "chatboxmes_v2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "a00aa07b-92f8-4130-b8d2-fbv2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        160
      ],
      "id": "a991181e-66db-4039-b9ea-db5455ae1f45",
      "name": "Webhook",
      "webhookId": "a00aa07b-92f8-4130-b8d2-6664fae54e3e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -140,
        -40
      ],
      "id": "da3bee1e-dd1d-462b-b308-2d6c0cfaa141",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/650808194786249/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAaKackdsYsBPOtTwHlmcwuNKVAxHIE2L2xSVZALIZAf8cZB42WcrwPIQJgjRloRsFZCeRMuW1ZBEsLocHGy2IAKzW2XLwpbzuyDZC6QE6Fg3iXriVlThPxrazDojh4QXBPEIrJEwc9SyiDyQKu0LhPUnwUDLlszbW3J4KFB64ZA0eSaoj9kjW8UHTvTXtBvCY4MZACAA2zE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        260
      ],
      "id": "dbbf0ad8-1388-4d23-9a51-8739ab91444d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dichvun8n.click/webhook/factory-faq",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        260
      ],
      "id": "4a5edf00-732b-46cd-8de5-aecc1579e9d8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94b1dae6-3f53-41b5-9742-b396e55e2424",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "18b4c376-b715-4fec-8310-fae80ec0241d",
              "name": "reply",
              "value": "={{$node[\"Webhook\"].data.body.entry[0].messaging[0].sender.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        260
      ],
      "id": "71015f8e-7850-4657-9ca4-d9489ac1207a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -260,
        500
      ],
      "id": "68212cc3-6b41-43b1-bb51-9829ab4efe75",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "let html = $input.first().json.output;\n\n  // Replace line breaks\n  html = html.replace(/<\\s*br\\s*\\/?>/gi, '\\n');\n\n  // Paragraphs\n  html = html.replace(/<\\s*p\\s*>/gi, '\\n\\n').replace(/<\\s*\\/p\\s*>/gi, '');\n\n  // Bold/Italic\n  html = html.replace(/<\\s*b\\s*>|<\\s*strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*\\/b\\s*>|<\\s*\\/strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*i\\s*>|<\\s*em\\s*>/gi, '*');\n  html = html.replace(/<\\s*\\/i\\s*>|<\\s*\\/em\\s*>/gi, '*');\n\n  // Links\n  html = html.replace(/<a\\s+href=\"(.*?)\">(.*?)<\\/a>/gi, '[$2]($1)');\n\n  // List items\n  html = html.replace(/<\\s*ul\\s*>/gi, '\\n').replace(/<\\s*\\/ul\\s*>/gi, '');\n  html = html.replace(/<\\s*li\\s*>/gi, '- ').replace(/<\\s*\\/li\\s*>/gi, '\\n');\n\n  // Remove remaining tags\n  html = html.replace(/<[^>]*>/g, '');\n  while(html.includes('\\n\\n\\n')){\n    html = html.replace('\\n\\n', '\\n');\n  }\n  return {data: {\n    recipient:{\n        \"id\":`${$input.first().json.reply}`\n      },\n      message:{\n        text: html.trim()\n      } \n  }};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        260
      ],
      "id": "198eeb8f-483f-4139-8234-e408871d897c",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-22T14:33:57.860Z",
  "versionId": "8eca34f4-4a00-4e6c-bee0-93ec0bec8a9d"
}