workflows/qqbBuD0n0sSFoc4u.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T15:43:56.447Z",
  "id": "qqbBuD0n0sSFoc4u",
  "isArchived": false,
  "meta": null,
  "name": "Cancel",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        480
      ],
      "id": "b30d9d0a-c081-41b5-8030-6ab0b2fe332b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0",
          "mode": "list",
          "cachedResultName": "booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "IsBook",
              "lookupValue": "Cancel"
            },
            {
              "lookupColumn": "IsEventCancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1080,
        480
      ],
      "id": "776dfa46-856a-4de9-81f9-baca5e7a6f29",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lsYErTPhKYeCMfc7",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1300,
        480
      ],
      "id": "f1b2164e-25a7-4c23-969e-62e64111a32d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.CalendarId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        500
      ],
      "id": "c8eda118-ab03-4b39-a06b-b364072d99fd",
      "name": "HTTP Request1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4PlSBqW2AGaWug0c",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-25T12:58:27.313Z",
  "versionId": "4e2d2599-94f7-4b1a-9cfa-cadee539c530"
}